
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/*Estilazação para aria principal*/

.section-principal{
	margin: 0px 150px 150px;
} 
/*Estilização para o cabeçalho*/
select.escolha{
	width: 120px;
	height: 35px;
}
.font{
	font-size: 12px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}
.cabeçalho-principal{
	min-height: 120px;
}
.cabeçalho{
	height: 100px;
}
.logo{ 
 	width: 150px;
 	height: 80px;	 
}
.img-logo{
	width: 350px;
	height: 250px;
	position:absolute;
	top: -70px;
	left: 50px;
}
.texto-logo{
	float:right;
	padding: 2px;
	width: 300px;
	margin: 2px;
	background: rgb(4, 4, 153);
	position: relative;
	top: -70px;
}
/* Estilização do icone no cabeçalho */
.moda-1{
margin-left: -60px;
margin-bottom: 10px;
} 
.moda-2{
 width: 30px;
 height: 20px;
 margin-top: -8px;
}
.moda-3{
	margin-left: 90px;
}
.Estado-wlan{
	border-left: 1px solid rgba(221, 215, 218, 0.507);
	min-height: 300px;
	opacity:1;
	 
}
.section-border{
	border-left: 1px solid rgba(221, 215, 218, 0.507);
	min-height: 600px;
	opacity:1;
}
/* Estilização para botton */
.bottom-start{
	background-color: #0d5ff5;
	color: #ffffff;
	border-radius: 8px 8px 8px 8px;
	border-color: #0d5ff5;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-size: 14px;
	transition: ease-in-out 0.2s;
}
.bottom-start:hover{
	transform: scale(1.1);
	 border: none;

}
.botão-enviar{
	background-color: #0d5ff5;
	color: #ffffff;
	border-radius: 8px 8px 8px 8px;
	border-color: #0d5ff5;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-size: 13px;
	transition: ease-in-out 0.2s;
}
	.link-botão{
		color: #ffffff;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
.botão-enviar:hover{
	transform: scale(1.1);
	border: none;
}
/* Estilização icon */
.icon-grafi{
	font-size: 25px;
}
.icon-re{
	font-size: 120px;
	margin-top: -50px;
}
.bateria{
	font-size: 30px;
}
.trafico-unidade{
	font-size: 25px;
	color: green;
}
.icones-likn{
	font-size: 10px;
}
/* Estilização par bordas */
.border-left{
	border-left: #50062e;
	width: 5px;
	height: 100%;
}
/* Estilização para os meus titilos */
.title-h3{
	color: #0d5ff5;
	font-size:24px;

}
.escolha-linguagem{
	font-size: 12px;
	font-family: Verdana;
	margin-top: -20px;
}
.title-p-1{
	font-size: 12px;
	font-weight: 300;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #50062e;
}
/*Estilização para os menu principal*/

.menu{
	background:#50062e;
	font-family:Verdana;
	font-size: 14px;
	 margin: -10px 0px  0px;
	padding: 0px;
	position: relative;
}
.menu .nav-menu{
	list-style: none;
	text-transform: uppercase;
	background-color: #50062e;
	color: #ffffff;
}
.menu .nav-list{
	display: inline-block;
	 
	padding: 8px;
	margin: 2px;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	text-align: center;
	transition: transform 0.2s
}
 .menu .link-nav{
	color: #ffffff;
	transition: all 0.2s;
 }

.menu .link-nav:hover{
	color: #50062e;
 }
.menu .nav-list:hover{
	text-align: center;
	background-color: #93e8f7;
	 border-radius: 10px 10px 10px 10px;
	transform: scale(1.1);
}
/* Estilização de imagens */
.img-facv-rodap{
	width: 80px;
	height: 80px;
	position: relative;
	 
}
/*Estilização para aria*/
 
.container-menu .Arias{
	height: 200px;
	background: #93e8f7;
	 margin: -15px 0px  0px;
	padding: 0px;
}
/*Estilização para elementos-centralizado*/
.elementos-centralizado{
	width: 500px;
	height: 200px;
	margin: auto;
	padding: auto;
}
.unidade-africell{
	display: inline-block;
}
.unidade-africell .unidade{
	float: left;
	width: 50px;
	height: 50px;
	position: relative;
	left:15px;
	top: -18px;
}
.unidade-africell .unidade .texto-unidade{
	font-family: Arial;
	font-size: 20px;
	color: #840c52;
	text-align: center;
	 margin-top: 15px;
	 margin: 10px;
}
.unidade-africell .africell{
	float: right;
	width: 200px;
	height: 50px;
	margin:auto;
	padding: auto;
	position: relative;
	left: 150px;
	top: 5px;
}
.unidade-africell .africell .texto-africell{
	font-family: Arial;
	font-size: 40px;
	color: #840c52;
	text-align: center;
	margin-top: 20px;
}
.icon-unidade{
	background-color:#0d5ff5;
	width: 100px;
	height: 40px;
	border-radius: 10px 10px 10px 10px;
}
.texto-unidade{
	margin-top: -60px;
}
/* Estilização para box */
.box-clentes{
	border: 1px solid #50062e;
}
.box-subtle{
	background-color:#dfe2de;
}
.box-link-div .box-col-div{
	background: #dfe2de;
	border: 1px solid #c9cfda8a;
	margin: 5px;
	border-radius: 4px 4px 4px 4px;
	transition: all 0.2s;
 }
.box-link-div .box-col-div:hover{
	  background: #9d9e9d;
	 color: #ffffff;
 }
.box-link-div h3{
	margin: 4px;
	font-size: 16px;
	color: #50062e;
	font-family: Arial, Helvetica, sans-serif;
 }
.font-box{
	font-size: 13px;
}
.box-box{
	background: #dfe2de;
	border: 1px solid #c9cfda8a;
	margin: 5px;
	border-radius: 4px 4px 4px 4px;
	transition: all 0.2s;
}
.box-box:hover{
	background: #9d9e9d;
   color: #ffffff;
}
.bg-body-btn:focus{
	border: none;
	color: none;

}
.bg-body-btn{
 
}
.tetle-btn{
	color: #50062e;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	text-align: justify;
}
ul.list-dropdown{
	background-color: #dfe2de;
	color: #50062e;
	width: 250px;
	font-size: 13px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul.list-dropdown a:hover{
	background-color: #9d9e9d;
 color: #50062e;
	 
}
/* Estilização para as tabelas de SMS */
.th-mensg{
	background-color: #50062e;
	color: #ffffff;
	justify-content: center;
}
.title-tabela{
	margin-top: 5px;
	text-align: left;
}
.input-tabela{
	margin-top: 5px;
	text-align: left;
}
.contiudo-3{
	width: 70px;
}
.tabela-mar{
	width: 40px;
}
.tabela-numero{
	width: 160px;
}
.title-tabela-data{
	margin-top: 5px;
	margin-left: 20px;
}
.tabela-mensag{
	justify-content: center;
	align-items: center;
}
.table .th-content tr th{
	text-align: left;
}
.table{
	background-color: #ffffff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0,0.3);
	border-collapse: collapse;
	max-height: 200px;
	overflow-x: hidden;
}
 .table th,
.table td{
	padding: 10px;
	border: 1px solid #50062e;

}

/*Estilização para o rodapé*/
footer.forter{
	background: #50062e;
	min-height: 20px;
}
.footer-central{
height: 50px;
}
.box-footer{
height: 30px;
}
.aria-trabalho{
	background: #ffffff;
	min-height: 300px;
}
.link-rodape{
	text-decoration:none;
	color: #50062e;
	font-size: 13px;
	font-family: Tahoma, sans-serif;
	transition: all 0.2s;
}
.link-rodape:hover{
	color: #0d5ff5;
	text-decoration: underline;

}
.footer-mensag{
	background: #dfe2de;
	min-height: 50px;
}
/* Footer menssagem */
.form-input{
	margin-left: 20px;
}
.procu-input{
	border: 1px solid #50062e;
	width: 50px;
	margin-left: 10px;

}
.link-botão-ir{
	background-color: #0d5ff5;
	color: #ffffff;
	margin-left: 10px;
	border: 1px solid #0d5ff5;
	transform: all 0,2s;
}
.link-botão-ir:hover{
	background-color: #113b8a;
	color: #ffffff;
	border: none;
}
span.pagina-procu{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-left: 10px;

}
/* Estilização para os icon de alternar menssagem */
.link-prev{
	color: #50062e;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: 500;
}
.link-next{
	color: #50062e;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: 500;
}
.con-img-prev{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 55px;
	font-weight: 500;
}
.con-img-next{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 55px;
	font-weight: 500;
}
/* Estilização para textos atualizar */
.text-online{
	font-size: 12px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}